
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.rlinkcolor
{
  background-color: greenyellow;
}

:host {
  display: block; /* Important for applying width/height correctly */
  height: 30%; /* Set a fixed height */
}