<h2 mat-dialog-title>{{popuptitle}}</h2>
<form [formGroup]="productForm">
<mat-form-field appearance="fill">
    <mat-label>Product ID</mat-label>
    <input type="input" matInput formControlName="productId">
    <mat-error *ngIf="productForm.get('productId')?.errors?.['required']">
        Product Id is <strong>required</strong>
      </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" ngclass="ssss">
    <mat-label>Product Name</mat-label>
    <input matInput  formControlName="productName">
    <mat-error *ngIf="productForm.get('productName')?.errors?.['required']">
      Product Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Product Quantity</mat-label>
    <input matInput  formControlName="productQuantity">
    <mat-error *ngIf="productForm.get('productQuantity')?.errors?.['pattern']">
      Enter valid number
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput  formControlName="productPrice">
    <mat-error *ngIf="productForm.get('productPrice')?.errors?.['required']">
      Product Price is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="productForm.get('productPrice')?.errors?.['pattern']">
      Enter only number
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>GST</mat-label>
    <input matInput  formControlName="gst">
    <mat-error *ngIf="productForm.get('gst')?.errors?.['required']">
      Product GST is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="productForm.get('gst')?.errors?.['pattern']">
      Enter valid number
    </mat-error>
  </mat-form-field>
  <mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="productAction()" id="'ss'">{{buttontext}}</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button mat-button [mat-dialog-close]="true">Delete</button> -->
   <!-- closing popup using close function -->
  <button mat-raised-button color="accent" (click)="closepopup()">Cancel</button>
</mat-dialog-actions>
</form>