.login-right {
    background: #83648f;

    overflow-y: scroll
}
/* .btn-white, .btn-white:hover{
	background: #fff;
	color:#278ce8;
	font-weight: 500;
	padding: .45rem 1.5rem;
	border-radius: 6px;
} */