

<!-- <div class="p-0">
	<div class="row g-0">
		<div class="col-md-5">
			<div class="login-left">
				<div class="align-self-center">
					<h3>"The only thing limiting your aspiration is your imagination."</h3>
					<p>- Stephen Richards</p>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="login-right  min-vh-100">
				<div class="login-section" [class.d-none]="loginsection">
					<h1 class="login-title">Login</h1>

					<form #loginform="ngForm" name="form" (ngSubmit)="loginform.form.valid">
						<div id="testt" style="color: aliceblue;">

						</div>
						<div class="formgroup">
							<input type="text" (focus)="onFocus()" class="form-control" required #usrname="ngModel"
								id="" placeholder="Email Address" [(ngModel)]="userModel.email" maxlength="320"
								name="username" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
							<div style="height: 4px; display: block;">
								<div *ngIf="(loginform.submitted && usrname.untouched) ||  usrname.touched "
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="usrname.errors?.['required']">Email address is required</div>
								</div>
								<div *ngIf="usrname.invalid" style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="usrname.errors?.['pattern']">Enter valid email address</div>
								</div>
							</div>
						</div>

						<div class="formgroup" style="margin-top: 20pt;">
							<div class="input-group mb-1.9">
								<input [type]="show_button ? 'text' : 'password'" class="form-control" required
									#usrpassword="ngModel" id="upassword" placeholder="Password" (focus)="onFocus()"
									[(ngModel)]="userModel.password" minlength="8" maxlength="16" name="password"
									pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$">
								<i [class]="show_eye ? 'las la-eye btn-login' : 'las la-eye-slash btn-login'"
									(click)="showPassword()" id="eye"></i>
								//<i class="las la-eye"  style="color:rgb(34, 0, 255); right:30px; position: relative; top:10pt; font-size: 18pt;" (click)="showPassword()" id="eye"></i>
							</div>

							<div style="height: 30px; display: block; margin-top: 2pt;">
								<div *ngIf="(loginform.submitted && usrpassword.untouched) || usrpassword.touched "
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="usrpassword.errors?.['required']">Password is required</div>
								</div>
								<div *ngIf="usrpassword.touched && usrpassword.invalid"
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="usrpassword.errors?.['pattern']">Enter valid password</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-white"
							(click)="onSubmit(loginform.form.valid)">Login</button>
						<a class="link-white ms-4" role="button" id="forgot"
							(click)="forgotpassection();loginform.resetForm()">Forgot Password?</a>
					</form>
					<div class="or-links">
					</div>
					<nav>
						<a class="btn link-white f-18" routerLink="/register">Register new account</a>
						<span style="font-size: larger; color: #f1eaea;"> | </span><a class="btn link-white f-18"
							(click)="signupaccountsection()">Create account</a>
					</nav>
				</div>
				<div class="signup-section" [class.d-none]="signupsection">
					<h1 class="login-title">Signup</h1>

					<form #signupform="ngForm" name="form" (ngSubmit)="signupform.form.valid">
						<div id="testt" style="color: aliceblue;">

						</div>
						<div class="formgroup">
							<input type="text" (focus)="onFocus()" class="form-control" required #name="ngModel" id=""
								placeholder="Name" [(ngModel)]="userSignupModel.name" maxlength="20" name="name"
								pattern="^(?! )[A-Za-z\s]*$">
							<div style="height: 4px; display: block;">
								<div *ngIf="(loginform.submitted && name.untouched) ||  name.touched "
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="name.errors?.['required']">Name is required</div>
								</div>
								<div *ngIf="name.invalid && name.touched"
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="name.errors?.['pattern']">Enter valid name</div>
								</div>
							</div>
						</div>
						<div class="formgroup" style="margin-top: 20pt;">
							<input type="text" (focus)="onFocus()" class="form-control" required #usremail="ngModel"
								id="" placeholder="Email Address" [(ngModel)]="userSignupModel.email" maxlength="320"
								name="usremail" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
							<div style="height: 4px; display: block;">
								<div *ngIf="(signupform.submitted && usremail.untouched) ||  usremail.touched "
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="usremail.errors?.['required']">Email address is required</div>
								</div>
								<div *ngIf="usremail.invalid && usremail.touched && !usremail.errors?.['required']"
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">Enter valid email address
								</div>
							</div>
						</div>

						<div class="formgroup" style="margin-top: 20pt;">
							<div class="input-group mb-1.9">
								<input [type]="show_button ? 'text' : 'password'" class="form-control" required
									#susrpassword="ngModel" id="upassword" placeholder="Password" (focus)="onFocus()"
									[(ngModel)]="userSignupModel.password" minlength="8" maxlength="16" name="password"
									pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$">
								<i [class]="show_eye ? 'las la-eye btn-login' : 'las la-eye-slash btn-login'"
									(click)="showPassword()" id="eye"></i>
							</div>

							<div style="height: 30px; display: block; margin-top: 2pt;">
								<div *ngIf="(signupform.submitted && usrpassword.untouched) || susrpassword.touched"
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="susrpassword.errors?.['required']">Password is required</div>
								</div>
								<div *ngIf="susrpassword.touched && susrpassword.invalid"
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">

									<div *ngIf="susrpassword.errors?.['pattern']">Enter valid password</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-white"
							(click)="onSignup1(signupform.form.valid)">Submit</button>
					</form>
					<div class="or-links">
					</div>
					<nav>
						<a class="btn link-white f-18" (click)="loginaccountsection()">Login</a>
					</nav>
				</div>
				<div class="forgot-section" [class.d-none]="forgotsection">
					<h1 class="login-title">Forgot Password</h1>
					<form #loginemail="ngForm" name="form" (ngSubmit)="loginemail.form.valid">
						<div class="formgroup">
							<input type="text" (focus)="onFocus()" class="form-control" required #fgtusrname="ngModel"
								id="" placeholder="Email Address" [(ngModel)]="forgotModel.email" maxlength="320"
								name="fgtusrname" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">


							<div style="height: 35px; display: block; margin-top: 2pt;">
								<div *ngIf="(loginemail.submitted &&  fgtusrname.untouched) || fgtusrname.touched"
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="fgtusrname.errors?.['required']">Email Address is required</div>
								</div>
								<div *ngIf="fgtusrname.touched && fgtusrname.invalid"
									style="font-size: 10.5pt; margin-top: 2pt; color:red;">
									<div *ngIf="fgtusrname.errors?.['pattern']">Enter valid email address</div>
								</div>
							</div>

						</div>
						<button type="submit" class="btn btn-white" id="forgotSubmit"
							(click)="forgotsubmit(loginemail.form.valid)">Submit</button>
					</form>
					<div class="mt-5">
						<a class="btn link-white f-18" role="button" id="backLogin"
							(click)="backtologin();loginemail.resetForm()">Back to Login</a>
					</div>
				</div>
				<div class="password-section" [class.d-none]="passwordsection">
					<h1 class="login-title">Create New Password</h1>
					<div class="formgroup">
						<small style="font-size: 10.5pt; margin-top: 2pt; color:red;"
							[class.d-none]="usrpassword.valid || usrpassword.untouched">Enter password min 8 to max 16
							character</small>
						<input type="password" class="form-control mb-4"
							[class.is-invalid]="usrpassword.invalid && usrpassword.touched" required
							#usrpassword="ngModel" id="" placeholder="New Password" [(ngModel)]="userModel.password"
							minlength="8" maxlength="16" name="password"
							pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$"
							[class.is-valid]="usrpassword.valid">
					</div>
					<div class="formgroup">
						<small style="font-size: 10.5pt; margin-top: 2pt; color:red;"
							[class.d-none]="usrpassword.valid || usrpassword.untouched">Enter password min 8 to max 16
							character</small>
						<input type="password" class="form-control mb-4"
							[class.is-invalid]="usrpassword.invalid && usrpassword.touched" required
							#usrpassword="ngModel" id="" placeholder="Confirm New Password"
							[(ngModel)]="userModel.password" minlength="8" maxlength="16" name="password"
							pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$"
							[class.is-valid]="usrpassword.valid">
					</div>
					<button type="button" class="btn btn-white" id="passwordSubmit">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- <a routerLink="/header">test link</a>
<router-outlet></router-outlet>
 --><!-- <app-forgotpassword></app-forgotpassword> -->
<!-- <app-register></app-register> -->
<app-spinner [class.d-none]="spinnerview"></app-spinner>
<div class="login-right" style="padding-top: 5%;">
	<!-- <img src="assets/img/logo-new1.png" style="margin-bottom: 1rem"> -->
	<div class="login-section" [class.d-none]="loginsection">
		<h1 class="login-title">Login</h1>

		<form #loginform="ngForm" name="form" (ngSubmit)="loginform.form.valid">
			<div id="testt" style="color: aliceblue;">

			</div>
			<div class="formgroup">
				<input type="text" (focus)="onFocus()" class="form-control" required #usrname="ngModel" id=""
					placeholder="Email Address" [(ngModel)]="userModel.email" maxlength="320" name="username"
					pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
				<div style="height: 4px; display: block;">
					<div *ngIf="(loginform.submitted && usrname.untouched) ||  usrname.touched "
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="usrname.errors?.['required']">Email address is required</div>
					</div>
					<div *ngIf="usrname.invalid && usrname.touched" style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="usrname.errors?.['pattern']">Enter valid email address</div>
					</div>
				</div>
			</div>

			<div class="formgroup" style="margin-top: 20pt;">
				<div class="input-group mb-1.9">
					<input [type]="show_button ? 'text' : 'password'" class="form-control" required
						#usrpassword="ngModel" id="upassword" placeholder="Password" (focus)="onFocus()"
						[(ngModel)]="userModel.password" minlength="8" maxlength="16" name="password"
						pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$">
					<i [class]="show_eye ? 'las la-eye btn-login' : 'las la-eye-slash btn-login'"
						(click)="showPassword()" id="eye"></i>
					<!-- <i class="las la-eye"  style="color:rgb(34, 0, 255); right:30px; position: relative; top:10pt; font-size: 18pt;" (click)="showPassword()" id="eye"></i> -->
				</div>

				<div style="height: 30px; display: block; margin-top: 2pt;">
					<div *ngIf="(loginform.submitted && usrpassword.untouched) || usrpassword.touched "
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="usrpassword.errors?.['required']">Password is required</div>
					</div>
					<div *ngIf="usrpassword.touched && usrpassword.invalid"
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="usrpassword.errors?.['pattern']">Enter valid password</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn-white" (click)="onSubmit(loginform.form.valid)">Login</button>
			<!-- <button type="submit" class="btn btn-white" (click)="onSubmitjwttokentestfetch(loginform.form.valid)">Login</button>
 <button type="submit" class="btn btn-white" (click)="onSubmitjwttokenbackend(loginform.form.valid)">Get</button> -->
			<a class="link-white ms-4" role="button" id="forgot"
				(click)="forgotpassection();loginform.resetForm()">Forgot Password?</a>
		</form>
		<div class="or-links">
		</div>
		<nav>
			<!-- <a class="btn link-white f-18" routerLink="/register">Register new account</a> -->
			<span style="font-size: larger; color: #f1eaea;"> | </span><a class="btn link-white f-18"
				(click)="signupaccountsection()">Create account</a>
		</nav>
	</div>
	<div class="signup-section" [class.d-none]="signupsection">
		<h1 class="login-title">Signup</h1>

		<form #signupform="ngForm" name="form" (ngSubmit)="signupform.form.valid">
			<div id="testt" style="color: aliceblue;">

			</div>
			<div class="formgroup">
				<input type="text" (focus)="onFocus()" class="form-control" required #name="ngModel" id=""
					placeholder="Name" [(ngModel)]="userSignupModel.name" maxlength="20" name="name"
					pattern="^(?! )[A-Za-z\s]*$" required>
				<div style="height: 4px; display: block;">
					<div *ngIf="(signupform.submitted && name.untouched) ||  name.touched "
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="name.errors?.['required']">Name is required</div>
					</div>
					<div *ngIf="name.invalid && name.touched" style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="name.errors?.['pattern']">Enter valid name</div>
					</div>
				</div>
			</div>
			<div class="formgroup" style="margin-top: 20pt;">
				<input type="text" (focus)="onFocus()" class="form-control" #usremail="ngModel" id=""
					placeholder="Email Address" [(ngModel)]="userSignupModel.email" maxlength="320" name="usremail"
					pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required>
				<div style="height: 4px; display: block;">
					<div *ngIf="(signupform.submitted && usremail.untouched) ||  usremail.touched "
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="usremail.errors?.['required']">Email address is required</div>
					</div>
					<div *ngIf="usremail.invalid && usremail.touched && !usremail.errors?.['required']"
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">Enter valid email address
					</div>
				</div>
<!-- <div *ngIf="usremail.errors?.['pattern']">Enter valid email address</div> -->				
			</div>

			<div class="formgroup" style="margin-top: 20pt;">
				<div class="input-group mb-1.9">
					<input [type]="show_button ? 'text' : 'password'" class="form-control" required
						#susrpassword="ngModel" id="upassword" placeholder="Password" (focus)="onFocus()"
						[(ngModel)]="userSignupModel.password" minlength="8" maxlength="12" name="password"
						pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$">
					<i [class]="show_eye ? 'las la-eye btn-login' : 'las la-eye-slash btn-login'"
						(click)="showPassword()" id="eye"></i>
					<!-- <i class="las la-eye"  style="color:rgb(34, 0, 255); right:30px; position: relative; top:10pt; font-size: 18pt;" (click)="showPassword()" id="eye"></i> -->
				</div>

				<div style="height: 30px; display: block; margin-top: 2pt;">
					<div *ngIf="(signupform.submitted && usrpassword.untouched) || susrpassword.touched"
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="susrpassword.errors?.['required']">Password is required</div>
					</div>
					<div *ngIf="susrpassword.touched && susrpassword.invalid"
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">

						<div *ngIf="susrpassword.errors?.['pattern']">Enter valid password</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-white" (click)="onSignup1(signupform.form.valid)">Submit</button>
		</form>
		<div class="or-links">
		</div>
		<nav>
			<a class="btn link-white f-18" (click)="loginaccountsection()">Login</a>
		</nav>
	</div>
	<div class="forgot-section" [class.d-none]="forgotsection">
		<h1 class="login-title">Forgot Password</h1>
		<!-- <input type="text" class="form-control mb-4" id="" placeholder="Email Address"> -->
		<form #loginemail="ngForm" name="form" (ngSubmit)="loginemail.form.valid">
			<div class="formgroup">
				<input type="text" (focus)="onFocus()" class="form-control" required #fgtusrname="ngModel" id=""
					placeholder="Email Address" [(ngModel)]="forgotModel.email" maxlength="320" name="fgtusrname"
					pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">

				<!-- 		<input type="text" class="form-control" [class.is-invalid]="fgtusrname.invalid && fgtusrname.touched" required #fgtusrname="ngModel" id="" placeholder="Email Address" [(ngModel)]="forgotModel.email" maxlength="320" name="fgtusrname" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
-->
				<div style="height: 35px; display: block; margin-top: 2pt;">
					<div *ngIf="(loginemail.submitted &&  fgtusrname.untouched) || fgtusrname.touched"
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="fgtusrname.errors?.['required']">Email Address is required</div>
					</div>
					<div *ngIf="fgtusrname.touched && fgtusrname.invalid"
						style="font-size: 10.5pt; margin-top: 2pt; color:red;">
						<div *ngIf="fgtusrname.errors?.['pattern']">Enter valid email address</div>
					</div>
				</div>

			</div>
			<button type="submit" class="btn btn-white" id="forgotSubmit"
				(click)="forgotsubmit(loginemail.form.valid)">Submit</button>
			<!-- <div style="text-align: center; height:1.5em; font-size: 18px; font-weight:bold; color:purple; margin-top: 1em;">

					<div [class.d-none]="successmsgforgot">{{receivedmessageforgot}}</div>
					<div [class.d-none]="failuremsgforgot">{{receivedmessageforgot}}</div>
				</div> -->
		</form>
		<div class="mt-5">
			<a class="btn link-white f-18" role="button" id="backLogin"
				(click)="backtologin();loginemail.resetForm()">Back to Login</a>
		</div>
	</div>
	<div class="password-section" [class.d-none]="passwordsection">
		<h1 class="login-title">Create New Password</h1>
		<div class="formgroup">
			<small style="font-size: 10.5pt; margin-top: 2pt; color:red;"
				[class.d-none]="usrpassword.valid || usrpassword.untouched">Enter password min 8 to max 16
				character</small>
			<input type="password" class="form-control mb-4"
				[class.is-invalid]="usrpassword.invalid && usrpassword.touched" required #usrpassword="ngModel" id=""
				placeholder="New Password" [(ngModel)]="userModel.password" minlength="8" maxlength="16" name="password"
				pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$"
				[class.is-valid]="usrpassword.valid">
		</div>
		<div class="formgroup">
			<small style="font-size: 10.5pt; margin-top: 2pt; color:red;"
				[class.d-none]="usrpassword.valid || usrpassword.untouched">Enter password min 8 to max 16
				character</small>
			<input type="password" class="form-control mb-4"
				[class.is-invalid]="usrpassword.invalid && usrpassword.touched" required #usrpassword="ngModel" id=""
				placeholder="Confirm New Password" [(ngModel)]="userModel.password" minlength="8" maxlength="16"
				name="password" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{8,16}$"
				[class.is-valid]="usrpassword.valid">
		</div>
		<button type="button" class="btn btn-white" id="passwordSubmit">Submit</button>
	</div>
</div>