<div class="login-right  min-vh-100" style="padding-top: 5%;">
    <p class="text-white font-awesome"><b><span style="font-size: 14pt;">★ </span>அனைத்து விதமான தானிய
        பொருட்களும் பொடித்தும், அரைத்தும், வறுத்தும் தரப்படும்</b></p>
    <p class="text-white"><b><span style="font-size: 14pt;">★ </span>அனைத்து பொருட்களும் சிறப்பாக சுவை நிறம்
        மாறாமல் உயர் தரத்தில் தயாரித்து தரப்படும்</b></p>
    <p class="text-white"><b><span style="font-size: 14pt;">★ </span>தேங்காய் துருவி அரைத்து தரப்படும்</b></p>
    <p class="text-white"><b><span style="font-size: 14pt;">★ </span>ஆர்டரின் பெயரில் தோசை இட்டலி மாவு ரெடி
        செய்து தரப்படும். மிகவும் அருமையாக குறித்த நேரத்தில் தரப்படும்</b></p>
    <p class="text-white"><b>கால்நடை தீவனம் & விவசாய பொருட்கள் தயாரித்து தரப்படும்</b></p>
    <p class="text-white"><b>அனைத்து உணவு பொருட்கள், சமையல் பொருட்கள், மசாலா பொருட்கள், கால்நடை தீவன பொருட்கள்
        குறைந்த விலையில் தரமாக கிடைக்கும்</b></p>
    <p class="text-white"><b>உத்திரவாதம் கைராசியான ஸ்தாபனம்</b></p>
    <p class="text-white"><b>கண்காணிப்பு கேமரா வசதி செய்யப்பட்டுள்ளது</b></p>
    <p class="text-white"><b>டெலிவரி வசதி செய்து தரப்படும்"</b></p>
    <p class="text-white"><b>உத்திரவாதம் கைராசியான ஸ்தாபனம்</b></p>
    <p class="text-white"><b>கண்காணிப்பு கேமரா வசதி செய்யப்பட்டுள்ளது</b></p>
    <p class="text-white"><b>டெலிவரி வசதி செய்து தரப்படும்"</b></p>
    <p class="text-white"><b>உத்திரவாதம் கைராசியான ஸ்தாபனம்</b></p>
    <p class="text-white"><b>கண்காணிப்பு கேமரா வசதி செய்யப்பட்டுள்ளது</b></p>
    <p class="text-white"><b>டெலிவரி வசதி செய்து தரப்படும்"</b></p>
    <p class="text-white"><b>உத்திரவாதம் கைராசியான ஸ்தாபனம்</b></p>
    <p class="text-white"><b>கண்காணிப்பு கேமரா வசதி செய்யப்பட்டுள்ளது</b></p>
    <p class="text-white"><b>டெலிவரி வசதி செய்து தரப்படும்"</b></p>
    <p class="text-white"><b>உத்திரவாதம் கைராசியான ஸ்தாபனம்</b></p>
    <p class="text-white"><b>கண்காணிப்பு கேமரா வசதி செய்யப்பட்டுள்ளது</b></p>
    <p class="text-white"><b>டெலிவரி வசதி செய்து தரப்படும்"</b></p>
    <p class="text-white"><b>உத்திரவாதம் கைராசியான ஸ்தாபனம்</b></p>
    <p class="text-white"><b>கண்காணிப்பு கேமரா வசதி செய்யப்பட்டுள்ளது</b></p>
    <p class="text-white"><b>End of page</b></p>
    
  </div>
