<!-- to tranfser data from app to child (parent to child) -->

<div class="container-fluid p-0" style="overflow-y: visible;">
      <div class="row g-0">
      <app-header [user]="uname"></app-header>
      </div>
      <div class="row g-0">
            <div class="col-md-3" style="border-top: 5px; border-color: rgb(178, 175, 193);"  [class.d-none]="appbody">
                  <app-leftpanel></app-leftpanel>
            </div>
            <div class="col-md-9">
                  <router-outlet></router-outlet>
            </div>
      </div>
</div>
