/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #6b6969;
    font-weight: 400;
    background: #f5f5f5;
}

/* nav {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
} */

.navbar-brand img {
    height: 44px;
}

.menubar,
.menubar:hover {
    color: #278ce8;
    font-size: 24px;
    padding: 0 .5rem;
    margin-right: .5rem;
}

.main {
    display: flex;
    position: relative;
}

.sidemenu {
    width: 280px;
    background: #278ce8;
    min-height: calc(100vh - 70px);
    padding: 2rem 0 2rem 1rem;
}

.sidemenu.hide {
    width: 90px;
}

.content {
    width: calc(100% - 280px);
    padding: 1.5rem;
}

.content.hide {
    width: calc(100% - 90px);
}

.sidemenu>ul {
    padding: 0;
    margin: 0;
    height: calc(100vh - 135px);
    overflow-y: auto;
    scrollbar-width: none;
}

.sidemenu>ul::-webkit-scrollbar {
    width: 0;
}

.sidemenu>ul li {
    margin: 1rem 0;
    list-style: none;
}

.sidemenu>ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: .75rem 1rem;
}

.sidemenu>ul li a i {
    font-size: 24px;
    margin-right: .5rem;
    vertical-align: bottom;
    width: 30px;
    text-align: center;
}

.sidemenu>ul li a.active,
.sidemenu>ul li a:hover {
    background: #f5f5f5;
    color: #278ce8;
    border-radius: 30px 0 0 30px;
    font-weight: 500;
    transition: background .5s;
}

.sidemenu>ul li a span {
    display: none;
}

.sidemenu>ul li a span.menu-title {
    display: inline-block;
}

.user-dd {
    margin-left: 2rem;
}

.user-dd>a,
.user-dd>a:hover {
    display: flex;
    padding: 0;
    align-items: center;
    color: #6b6969;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

.user-dd>a::after {
    content: '\f107';
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 12px;
    margin-left: .5rem;
}

.user-dd .user-img {
    height: 42px;
    width: 42px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: .5rem;
}

.user-dd .user-img img {
    height: 42px;
    width: 42px;
    object-fit: cover;
}

.user-dd .dropdown-menu {
    padding: 0rem .5rem;
    width: 160px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.user-dd .dropdown-menu .dropdown-item {
    margin: 1rem 0;
    color: #6b6969;
    border-radius: 20px;
}

.user-dd .dropdown-menu .dropdown-item:active {
    background-color: #e9ecef;
}

.user-dd .dropdown-menu .dropdown-item i {
    font-size: 24px;
    vertical-align: middle;
    margin-right: .75rem;
}

.header-alert>a {
    font-size: 24px;
    margin-top: 6px;
    display: inline-block;
    position: relative;
}

.header-alert>a .alert-dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fb6f6f;
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    border: 2px solid #fff;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.card-header,
.modal-header {
    background: #fff;
    padding: .65rem 1rem;
    position: relative;
    border-radius: 10px 10px 0 0 !important;
}

.card-header h5,
.modal-header h5 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #278ce8;
    margin-bottom: 0;
    vertical-align: bottom;
    display: inline-block;
    letter-spacing: .5px;
}

.card-header::after,
.modal-header::after {
    content: '';
    width: 3px;
    height: 20px;
    background: #278ce8;
    left: 0;
    position: absolute;
    top: 12px;
}

.card-nav {
    margin: -1rem -1rem 0 -1rem;
}

.card-nav .nav-link {
    color: #929292;
    font-size: 14px;
    border: none;
    border-radius: 0;
    padding: .5rem 0;
    margin: 0 1rem;
}

.card-nav .nav-link.active {
    border-bottom: 2px solid #278ce8;
}

.card-tab-content {
    padding: 1.5rem .5rem 0 .5rem;
}

.table> :not(:first-child) {
    border-top: 1px solid currentColor;
}

tbody tr td {
    font-size: 14px;
    color: #6b6969;
}

thead tr th {
    color: #278ce8;
    font-size: 14px;
    font-weight: 500;
}

.header-links button {
    color: #278ce8;
    font-size: 22px;
    border: none;
    padding: 0 2px;
    line-height: 20px;
    border-radius: 4px;
    background: none;
}

.header-links .dropdown-menu {
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.header-links .dropdown-menu .dropdown-item {
    padding: .45rem 1rem;
    color: #6b6969;
}

.header-links .dropdown-menu .dropdown-item:hover {
    color: #278ce8;
}

.header-links .dropdown-menu .dropdown-item:active {
    color: #fff;
    background: #278ce8;
}

.f-green {
    color: #2ebb23;
}

.f-red {
    color: #fb6f6f;
}

.f-blue {
    color: #278ce8;
}

.f-gray {
    color: #848484;
}

.f-light-gray {
    color: #d2d2d2;
}

.fs-12 {
    font-size: 12px;
}

.fw-500 {
    font-weight: 500;
}


/* .btn-close {
    background: transparent url("src/assets/img/close.png") center/12px auto no-repeat;
} */

.btn-close:focus {
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, .25);
}

.modal-content {
    border-radius: 10px;
    border: none;
}

.modal-dialog {
    max-width: 600px;
}

.modal-footer {
    border: none;
}

.modal-footer button:last-child {
    margin-right: 0 !important;
}

.form-control,
.form-select {
    font-size: 14px;
    padding: .5rem .75rem;
    border-radius: 6px;
}

.form-control::file-selector-button {
    padding: .5rem .75rem;
    margin: -.5rem .85rem -.5rem -.75rem;
}

.form-select {
    color: #6c757d;
}

.form-select option:valid {
    color: #6b6969 !important;
}

/* .form-control:focus,
.form-select:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
} */

.btn-red,
.btn-red:hover {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background: #fb6f6f;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 1px;
}

.btn-blue,
.btn-blue:hover {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background: #278ce8;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 1px;
}

.link-blue,
.link-blue:hover {
    color: #278ce8;
    font-size: 18px;
    text-decoration: none;
    margin: 0 .25rem;
}

.link-red,
.link-red:hover {
    color: #fb6f6f;
    font-size: 18px;
    text-decoration: none;
    margin: 0 .25rem;
}

.data-links {
    display: inline-flex;
    margin: 0 0.25rem;
}

.data-links button i {
    font-size: 18px;
}

.profile-image {
    position: relative;
}

.profile-image img {
    width: 75px;
    border-radius: 10px;
}

.image-upoad-icon-wrapper {
    position: absolute;
    bottom: 0px;
    right: -10px;
    cursor: pointer;
}

.image-upoad-icon-wrapper i {
    background-color: #278ce8;
    border-radius: 5px;
    padding: 2px;
    color: #fff;
}

.date-input {
    background: url("src/assets/img/calendar.png") no-repeat;
    background-position: 95%;
}

.file-group .btn {
    background: #278ce8;
    color: #fff;
    border-color: #278ce8;
    font-size: 22px;
    padding: 0 .45rem;
    border-radius: 6px;
}

.form-control:disabled {
    color: #6c757d;
}

#show-bulk {
    display: none;
}
.modal-bulk{
    height: 250px;
    display: flex;
    align-items: center;
}
.navbar-nav .header-dropdown-menu {
    position: absolute;
}

.dropdown-navbar-nav {
    flex-direction: row;
}

.search-input .form-control {
    padding: 5px 10px;
    margin-right: 8px;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.nested-dropdown {
    overflow: visible !important;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu li:hover .submenu {
    display: block;
}

.show-entries small {
    margin-right: 5px;
}

.show-entries select {
    width: 45px !important;
    padding: 0 5px;
    background-position: right 0.1rem center;
}

.pagination-wrapper {
    box-shadow: none;
}

.pagination-wrapper .page-link {
    width: 25px;
    height: 25px;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background-color: rgb(245, 245, 245);
    color: #000;
    font-size: 12px;
}


/* Drag and drop File upload css */

.drop-zone {
    width: 100%;
    height: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 2px dashed #cccccc;
    border-radius: 10px;
}

.drop-zone i {
    font-size: 2rem;
    color: #b3b3b3cc;
}

.drop-zone__prompt {
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3cc;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}


/* file upload */

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 6px;
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 112px;
    cursor: pointer;
    opacity: 0;
}


/*Bootstrap Calendar*/

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 5px 10px;
}

.login-left {
    padding: 2rem 4rem;
    display: flex;
    height:100%;
    
}

.login-left h3 {
    color: #064e89;
    font-size: 24px;
    font-weight: 900;
}

.login-left .ll-img {
    padding: 0 3rem;
    text-align: center;
}

.login-left img {
    max-width: 100%;
}

.login-left p {
    color: #064e89;
    font-size: 18px;
    margin-bottom: 3rem;
}

.login-right {
    background: #83648f;
    padding: 5rem 10%;
}

.login-right .logo {
    width: 150px;
    height: 100px;
    margin-bottom: 2rem;
}

.login-right .login-title {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    position: relative;
    margin-bottom: 4rem;
}

.login-right .login-title::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    bottom: -15px;
    left: 0;
    background: #33c6f4;
}

.login-right .form-control {
    border: none;
    padding: .75rem 1rem;
    border-radius: 6px;
}

.btn-white, .btn-white:hover {
    background: #fff;
    color: #278ce8;
    font-weight: 700;
    padding: .45rem 1.5rem;
}

.btn-blue,
.btn-blue:hover {
    background: #278ce8;
    color: #fff;
    font-weight: 700;
    padding: .45rem 1.5rem;
}

.link-white,
.link-white:hover {
    padding: 0;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.or-links {
    margin: 1.5rem 0;
    color: #fff;
    display: flex;
    align-items: center;
}

.f-18 {
    font-size: 18px;
}

.webkit-none::-webkit-calendar-picker-indicator {
    display: none !important;
}

.login-type {
    padding: 0;
    margin: 0 0 3rem 0;
}

.login-type li {
    display: inline-block;
    list-style: none;
    margin: .5rem;
}

.login-type li a {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.7);
    ;
    padding: 1rem 1rem;
    display: block;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    min-width: 125px;
}

.login-type li a:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
}

.login-type li a span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
}

.reg-left {
    background: #278ce8;
    padding: 2rem 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reg-left .logo {
    width: 100px;
    margin-bottom: 2rem;
}

.rl-mid {
    text-align: center;
    padding: 3rem 15%;
}

.rl-mid img {
    width: 150px;
    margin-bottom: 3rem;
}

.rl-mid h1 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.rl-mid h2 {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.reg-right {
    padding: 5rem 15%;
    max-height: 100vh;
    overflow-y: auto;
}

.form-select {
    color: #6c757d;
}

.form-select option:valid {
    color: #6b6969 !important;
}

.date-input .p-inputtext {
    background: url("src/assets/img/calendar.png") no-repeat #fff !important;
    background-position: 95% !important;
    width: 100% !important;
    border-radius: 6px !important;
    border: 1px solid #ced4da !important;
    background-color: #fff;
    padding: 0.5rem 0.75rem !important;
    font-size: 14px;
    color: #6c757d !important;
}

.date-input .p-calendar {
    width: 100% !important;
}

.date-input .p-inputtext:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}

.p-datepicker table td {
    /* padding: 0.1rem; */
    padding: 0.05rem 0.05rem !important;
}


/* :host ::ng-deep.prime-slider-override {
      
	  /* width: 100% !important; */


/* border-right : 0.5em;
	 border-left:  0.5em; */


/* border-top-width: 100% !important;
	 border-top-width: 100% !important; */


/* background: url("../assets/img/calendar.png") no-repeat;
	 background-position: 95%; */


/* margin: 0 auto !important;
		position: relative !important; */
        .multiselect-dropdown .dropdown-btn{
            border-radius: 6px !important;
            border: 1px solid #ced4da !important;
            background-color: #fff;
            padding: 0.5rem 0.75rem !important;
            font-size: 14px;
        color: #6c757d !important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .multiselect-dropdown .dropdown-btn:focus{

            box-shadow: 0 0 0 0.25rem rgb(13,110,253, 0.25);
        }
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    border: none !important;
    background: #f2f2f2 !important;
    color: #6b6969 !important;
    border-radius: 6px !important;
    margin-bottom: 4px;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item a {
    color: red !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    background: #278ce8 !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
    color: #278ce8 !important;
    border: 2px solid #278ce8 !important;
    border-radius: 4px;
}

.file-group .btn {
    background: #278ce8;
    color: #fff;
    border-color: #278ce8;
    font-size: 22px;
    padding: 0 .45rem;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
    overflow: hidden;
    opacity: 0;
}

.custom-file-input~.custom-file-label[data-browse]::after {
    content: attr(data-browse);
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "\f07c";
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.p-component,
.p-inputtext,
.p-link {
    font-family: 'Roboto', sans-serif;
}
.p-component.p-multiselect-open{
    box-shadow: 0 0 0 0.25rem rgb(13,110,253, 0.25);
}

.p-multiselect .p-multiselect-label {
    padding: 5px 8px;
}

.p-multiselect-label {
    font-size: 14px;
}

.p-multiselect .p-multiselect-trigger {
    width: auto;
    padding-right: 8px;
}

.p-multiselect:not(.p-disabled):hover {
    border-color: #ced4da;
}

.p-multiselect .p-multiselect-panel {
    min-width: 300px !important;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding: 5px 8px !important;
}

.p-inputtext:enabled:hover {
    border-color: #ced4da;
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.25rem rgb(13,110,253, 0.25);
    border-color: #ced4da;
}

.pi-chevron-down:before {
    font-size: 12px;
}

.p-checkbox .p-checkbox-box {
    width: 18px;
    height: 18px;
    border-radius: 4px;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: 8px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: #278ce8;
    background: #e1f1ff;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 0.5rem 0.75rem;
    font-size: 12px;
}

.p-datatable .p-sortable-column.p-highlight,
.p-datatable .p-sortable-column.p-highlight:hover {
    background: #c6e3fe;
    color: #278ce8;
}

.p-datatable .p-sortable-column:focus {
    box-shadow: 0 0 0 0.25rem rgb(13,110,253, 0.25);
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #278ce8;
    background: #278ce8;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #278ce8;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #278ce8;
    background: #278ce8;
    color: #ffffff;
}

.p-checkbox .p-checkbox-box.p-highlight span {
    color: #ffffff !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: 0 0 0 0.25rem rgb(13,110,253, 0.25);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight span {
    color: #278ce8;
}

.more-dropdown .more-btn {
    font-size: 14px;
    border: 1px solid #ced4da;
    color: #6b6969;
    padding: 5px 10px;
    line-height: 20px;
    border-radius: 6px;
    background: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.more-dropdown .more-btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(13,110,253, 0.25);
}
.more-dropdown .dropdown-menu {
    min-width: 5rem;
    padding: 10px 0;
}

.more-dropdown .dropdown-menu li {
    display: flex;
    justify-content: center;
}

.p-datatable-wrapper {
    overflow-x: auto;
}

.p-datatable .p-datatable-thead>tr>th {
    font-size: 12px;
    font-weight: 500;
    border-width: .1px;
    color: #278ce8;
    background: transparent;
    padding: 0.2rem;
    text-align: center;
}

.p-datatable .p-datatable-thead>tr>th i {
    color: #278ce8 !important;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
    color: #278ce8;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    font-size: 10px;
}

.p-datatable .p-datatable-tbody>tr>td {
    font-size: 12px;
    border-width: .1px;
    padding: .2rem;
    text-align: center;
}

.p-datatable .p-datatable-tbody>tr>td i {
    font-size: 16px;
    cursor: pointer;
}

.p-datatable .p-datatable-tbody>tr>td i.la-pen {
    color: #278ce8;
}

.p-datatable .p-datatable-tbody>tr>td i.la-trash-alt {
    color: #fb6f6f;
}

.blur-up {
    filter: blur(2px);
}


/* pagination */

.p-paginator {
    padding: 0.5rem 0;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 22px;
    height: 22px;
    font-size: 12px;
    font-weight: 500;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    min-width: 22px;
    height: 22px;
    font-size: 12px;
    background-color: #f2f2f2;
    border: 1px solid #d8d5d5;
}

.p-paginator .p-paginator-first span,
.p-paginator .p-paginator-prev span,
.p-paginator .p-paginator-next span,
.p-paginator .p-paginator-last span {
    font-size: 12px;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    background-color: #f2f2f2;
    border: 1px solid #d8d5d5;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #278ce8;
    border-color: #278ce8;
    color: #fff;
}

.p-paginator .p-dropdown {
    height: 2rem;
}

.p-inputtext {
    padding: 5px 5px;
    font-size: 14px;
}

.p-paginator .p-dropdown .p-dropdown-label {
    padding-right: 5px;
}

.p-dropdown .p-dropdown-trigger {
    width: auto;
    padding-right: 5px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #278ce8;
    background: #e1f1ff;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: #ced4da;
    box-shadow: none !important;
}

.btn-login {
    border: 1px solid #ced4da;
    border-left: 0;
    color: #278CE8;
    background: #fff;
    padding: .375rem .75rem;
    border-radius: 0 6px 6px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-upload {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #6b6969;
}

.p-datatable .p-sortable-column .p-sortable-column-badge {
    display: none !important;
    align-items: center;
    justify-content: center;
}

.p-button.p-button-icon-only {
    width: 2rem;
    padding: 5px 9px;
    margin: 4px;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

@media (max-width: 1200px) {
    .login-right {
        padding: 5rem 20%;
    }
    .reg-right {
        padding: 5rem 10%;
    }
}

@media (max-width: 992px) {
    .login-right {
        padding: 5rem 10%;
    }
    .login-left .ll-img {
        padding: 0 1rem;
        text-align: center;
    }
    .login-left {
        padding: 2rem 2rem;
    }
    .reg-right {
        padding: 5rem 15%;
        max-height: 100%;
    }
    .sm-overflow-hidden {
        overflow: hidden;
    }
    .navbar-brand img {
        height: 35px;
    }
    .sidemenu.hide {
        /* width: 55px; */
        width: 280px;
        height: 100vh;
        display: block;
    }
    .sidemenu {
        padding: 0.5rem 0 0.5rem 0.5rem;
        position: absolute;
        z-index: 99;
        display: none;
    }
    .sidemenu>ul li a {
        padding: 0.5rem 0.5rem;
    }
    .sidemenu>ul li a span {
        display: inline-block;
    }
    .content.hide {
        width: 100%;
    }
    .page-content {
        width: 100%;
        padding: 0.5rem;
    }
    .mobile-sidebar-backdrop {
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .3);
        z-index: 98;
    }
    .backdrop-opened {
        display: block !important;
    }
}

@media (max-width:960px) {
    .p-datatable .p-datatable-tbody>tr>td {
        border-width: 0;
    }
}

@media (max-width: 768px) {
    .login-right {
        padding: 5rem 10%;
    }
    .p-datatable .p-datatable-tbody>tr>td {
        padding: 5px 5px;
    }
}

@media (max-width:567px) {
    .w-xs-100 {
        width: 100%;
    }
    .p-multiselect {
        min-width: 100% !important;
    }
    .login-right {
        padding: 5rem 10%;
    }
    .reg-right {
        padding: 2rem 5%;
    }
    .p-multiselect {
        min-width: 100% !important;
    }
}


.p-toast {
    position: fixed;
    width: 21rem !important;
}
.p-toast .p-toast-message .p-toast-message-content {
    padding: 0,5rem;
    border-width: 0 0 0 6px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 2rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-weight: 700;
    font-size: 14px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: 0.5rem 0 0 0;
    font-size: 13px;
}

.spinner{
  display: none;
}

.fullpage-spinner {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullpage-spinner .inner-spinner {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.fullpage-spinner .inner-spinner i {
    font-size: 30px;
    color: #000;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    color: red;
    font-size: 12px;
}

.form-check-label{
    font-size:14px;
}

body .ui-tag {
    background: #2196F3;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
    border-radius: 4px;
}

body .ui-tag.ui-tag-success {
    background: #689F38;
    color: #ffffff;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
